@import url("./styles/colors.css");
@import url("./styles/navbar-desktop.css");
@import url("./styles/header-desktop.css");
@import url("./styles/sizes.css");
@import url("./styles/standard.css");


@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter/Inter-VariableFont_opsz_wght.ttf");
}

body {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #f6f7f8;
}

a {
    text-decoration: none;
}

.d-none {
    display: none;
}

.visually-hidden {
    position: absolute;
    left: -9999px;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-top: 80px;
    margin-left: 232px;
    box-sizing: border-box;
}

.main-container {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}