@import url("./styles/colors.css");
@import url("./styles/navbar-desktop.css");
@import url("./styles/header-desktop.css");
@import url("./styles/sizes.css");
@import url("./styles/standard.css");
@import url("./styles/buttons.css");


@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter/Inter-VariableFont_opsz_wght.ttf");
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    margin-left: 232px;
    box-sizing: border-box;
}

.main-container {
    display: flex;
}

.right-container {
    width: calc(100vw - (var(--navbar-width) + 20px));
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.left-container {
    width: 232px;
    height: 100vh;
}

.right-content {
    max-width: calc(1440px - var(--navbar-width));
    width: 100%;
}

.header-section{
    position: sticky;
    top: 0;
}