.add-task-content {
    height: calc(100vh - (var(--header-height) + 20px));
    /* box-sizing: border-box; */
}

.add-task-form-desktop {
    /* box-sizing: border-box; */
    margin-left: 96px;
    margin-right: 24px;
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.add-task-form-dialog {
    /* box-sizing: border-box; */
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.add-task-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-task-fields {
    display: flex;
    flex-direction: column;
}

.add-task-fields label {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    color: var(--bg-default);
    margin-bottom: 8px;
}

.add-task-fields span {
    color: var(--input-error-color);
}

.a-t-f-i-container {
    width: calc((2 * 440px) + (2 * 24px) + 2px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.a-t-f-i-left {
    width: 440px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: start;
}

.a-t-f-i-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.a-t-f-i-midle {
    height: 100%;
    min-width: 1px;
    background-color: var(--input-border-color);
    margin-left: 24px;
    margin-right: 24px;
}

.add-task-footer {
    margin-top: 32px;
    width: calc((2 * 440px) + (2 * 24px) + 2px);
    display: flex;
    justify-content: space-between;
}

.add-task-footer p {
    font-family: 'Inter';
    font-size: 16px;
    color: black;
}

.a-t-priority-button-container {
    width: 440px;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 12px;
}


.a-t-input {
    width: calc(440px - 44px);
    height: calc(48px - (2px + 24px));
    border-radius: 10px;
    padding: 12px 21px;
    border: 1px solid var(--input-border-color);
    font-family: 'inter';
    font-size: 20px;
}



.a-t-input::placeholder {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    color: var(--input-border-color);
}


/* Datumsfeld*/

.date-field {
    position: relative;
    display: inline-block;
    width: 440px;

}

.date-input {
    background-repeat: no-repeat;
    background-position: 400px center;
    background-size: 24px;
    background-image: url('../assets/calendar-icon.svg');
    font-family: 'Inter';
    color: (--input-border-color);
    z-index: 200;
}

.date-input.focus{
    outline: none;
    border-color: var(--btn-bg-hover);
}

.a-t-input:focus{
    outline: none;
    border-color: var(--btn-bg-hover);
}

.date-input-hidden{
    position: absolute;
    width: 100%;
    color: transparent;
    pointer-events: unset;
    transform: translateY(-100%);
    z-index: -1; 
}


/* .date-input::-webkit-calendar-picker-indicator {
    display: none;
} */

.date-field .date-trigger {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
}

#due-date-hidden::-webkit-datetime-edit-fields-wrapper {
    position: relative;
    left: 10%;
}
#due-date-hidden::-webkit-datetime-edit {
    position: relative;
    left: 10%;
}


.mb-24 {
    margin-bottom: 24px;
}

.a-t-error-text-container {
    height: 12px;
    margin-top: 8px;
    margin-bottom: 24px;
}

.a-t-error-text-container p {
    font-family: 'Inter';
    font-size: 12;
    font-weight: 400;
    color: var(--input-error-color);
    margin-block-start: 0;
    margin-block-end: 0;
}

.error-text-hidden {
    color: var(--default-bg-color) !important;
}

.a-t-text-area {
    max-width: calc(440px - (2 * 1px) - (2 * 18px));
    max-height: calc(120px - (2 * 1px) - (2 * 16px));
    border-radius: 10px;
    border: 1px solid var(--input-border-color);
    padding: 16px 18px;
    margin-bottom: 24px;
    font-family: 'inter';
    font-size: 20px;
}

.a-t-text-area::placeholder {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    color: var(--input-border-color);
}

.add-task-form-buttons {
    height: 61px;
    display: flex;
    align-items: center;
    gap: 16px
}


.display-hidden {
    display: none;
}