#add-contact-dialog {
    padding: 0;
    border: none !important;
    margin: auto;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    transform: translateX(150%);
    max-width: 1212px;
    width: 100%;
    max-width: 1212px;
    height: 594px;
    overflow: hidden;
}

.main-add-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 592px;
}

.left-container-contacts {
    width: 467px;
    height: 592px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--bg-default);
    padding: 66px 48px;
    gap: 12px;
}

.join-logo-contacts {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 55.6px;
    height: 66.48px;
}

.right-container-contacts {
    width: 100%;
    height: 592px;
}

.add-contacts-headlines {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.headline-add-contacts {
    color: white;
    margin: 0;
    white-space: nowrap;
}

.underline-add-contacts {
    color: white;
    font-family: 'Inter';
    font-size: 27px;
    font-weight: 400;
    margin: 0;
}

.add-contacts-line {
    display: flex;
    align-self: start;
    width: 90px;
    height: 0px;
    border: 3px solid var(--btn-bg-hover);
}

.close-contact-overlay {
    display: flex;
    padding-left: calc(1132px - 467px);
    padding-top: 48px;
}

.add-contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: calc(137px - 80px);
    padding-left: calc(742px - 467px - 120px - 83px);
    gap: 32px;
}

.add-contact-form-and-picture {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: calc(550px - 467px);

}

.contact-error-text-container {
    margin: 0;
    padding-bottom: 12px;
    /* max-height: 20px; */
}

.contact-name-required {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0;
}

.contact-error-text-container p {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0;
}

.add-contact-input:focus,
.add-contact-input-mobile:focus {
    outline: none;
    border-color: var(--btn-bg-hover);
}

.error-text-show {
    color: var(--input-error-color) !important;
}

.error-text-hidden {
    color: transparent !important;
    cursor: inherit;
}

.input-has-error {
    border-color: var(--input-error-color) !important;
}

.input-has-error:focus {
    border-color: var(--btn-bg-hover) !important;
}

.add-contact-profil-picture {
    width: 120px;
    height: 120px;
    border-radius: 70%;
    object-fit: cover;
    border: 3px solid rgba(255, 255, 255, 1);
    background-image: url("../assets/profil-picture.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.add-contact-input-field-container {
    width: 422px;
}

.add-contact-input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--input-border-color);
    border-radius: 10px;
    padding: 13px 50px 13px 21px;
    margin-top: 10px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 380px center;
    font-family: 'Inter';
    font-size: 16px;
}

.input-mail {
    background-image: url("../assets/mail-icon.svg");
}

.input-name {
    background-image: url("../assets/person-icon.svg");
}

.input-phone {
    background-image: url("../assets/phone-icon.svg");
}

.login-form-buttons {
    display: flex;
    padding-top: 29px;
    gap: 24px;
}

.add-contact-input::placeholder {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    color: var(--input-border-color);
    text-align: left;
    background-color: transparent;
}

.right-container-contacts-mobile {
    width: 100%;
    height: auto;
    position: relative;
}

.btn-create,
.btn-cancel {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.btn-create-icon {
    width: 24px;
    height: 24px;
    background-image: url(../assets/check-icon.svg);
    background-position: right center;
    background-repeat: no-repeat;
}

.btn-cancel-icon {
    width: 24px;
    height: 24px;
    background-image: url(../assets/cancel-clear-default.svg);
    background-position: right center;
    background-repeat: no-repeat;
    border: unset;
}

.btn-clear-cancel:hover>.btn-cancel-icon {
    background-image: url(../assets/cancel-clear-secondary.svg);
}

/*NOTE - MOBILE */

.main-add-contact-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.left-container-contacts-mobile {
    height: 352px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--bg-default);
    padding: 66px 24px;
    gap: 12px;
    box-sizing: border-box;
    position: relative;
}

.headline-add-contacts-mobile {
    color: white;
    margin: 0;
}

.add-contact-form-and-picture-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-contact-profil-picture-mobile {
    width: 120px;
    height: 120px;
    object-fit: cover;
    background-image: url(../assets/profil-picture.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: calc(0% - 60px);
    left: calc(50% - 60px);
}

.add-contact-form-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 92px 16px 24px 24px;
    gap: 8px;
}

.add-contact-input-field-container-mobile {
    display: flex;
    flex-direction: column;
    width: auto;
}

.add-contact-input.input-mail,
.add-contact-input.input-name,
.add-contact-input.input-phone,
.add-contact-input-mobile.input-mail,
.add-contact-input-mobile.input-name,
.add-contact-input-mobile.input-phone {
    background-position: right 16px center;
}

.login-form-buttons-mobile {
    display: flex;
    justify-content: center;
    padding-top: 17px;
    gap: 20px;
}

.login-form-buttons-mobile>button>p {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 21px;
    margin: 0;
    text-align: center;
}

.add-contact-input-mobile {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--input-border-color);
    border-radius: 10px;
    padding: 13px 50px 13px 21px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 380px center;
    font-family: 'Inter';
    font-size: 16px;
}

.close-contact-overlay-mobile {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: calc(100% - 48px);
    padding-top: 24px;

}

.close-contact-overlay-mobile button {
    filter: brightness(0) invert(1);
    position: fixed;
    z-index: 10;
}

.add-contacts-headlines-mobile {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 16px;
}

.underline-add-contacts-mobile {
    color: white;
    font-family: 'Inter';
    font-size: 27px;
    font-weight: 400;
    margin: 0;
}

.add-contact-profil-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
}