
@media(max-width: 1300px) {
    .add-task-content {
        max-width: 600px;
        width: 100%;
        margin-left: 24px;
        margin-right: 24px;
    }

    .right-content {
        display: flex;
    }

    .a-t-f-i-left,
    .a-t-f-i-right {
        width: 380px;
    }

    .a-t-f-i-midle {
        margin-left: 0;
        margin-right: 0;
    }

    .a-t-f-i-container {
        width: calc((2 * 380px) + (2 * 24px) + 2px);
    }

    .btn-priority {
        width: 120px;

        div>p {
            font-size: 16px;
        }
    }

    .prio-selected {
        font-size: 18px !important;
    }

    .add-task-footer {
        width: calc((2 * 380px) + (2 * 24px) + 2px);
    }
}


@media(max-width: 800px) {
    .add-task-footer-mobile {
        bottom: -10px;
    }
}

@media (max-width: 750px) {
    .add-task-content {
        width: auto;
    }
}

@media(max-width: 470px) {
    .btn-priority {
        width: 100px;

        div>span {
            font-size: 16px;
        }
    }

    .prio-selected {
        font-size: 18px !important;
    }

    .btn-priority div>div {
        width: 18px;
        height: 14px;
    }

    .add-task-form-buttons-mobile {
        padding-right: 12px;
    }
}

@media(max-width: 450px) {
    .add-task-header-mobile {
        padding-left: 10px;
        padding-right: 10px;
    }

    .join-h1-mobile {
        font-size: 38px;
    }

    .btn-clear-cancel {
        width: 108px;
        padding: 9px;
    }

    .btn-clear-cancel>div>span {
        font-size: 18px;
    }

    .btn-create-task {
        width: 165px;
        padding: 9px;
    }

    .btn-create-task>div>span {
        font-size: 18px;
    }

    
}

@media(max-width: 420px) {

    .add-task-mobile-fields{
        padding-left: 8px;
        padding-right: 8px;
    }

    .btn-priority {
        width: 94px;
        padding: 12px 10px;

   }

    .prio-selected {
        font-size: 16px !important;
    }

    .btn-priority div>div {
        width: 16px;
        height: 12px;
    }

    .add-task-content {
        margin-left: 12px;
        margin-right: 12px;
    }

    .contact-profil-container {
        margin: 8px 10px;

        p {
            font-size: 18px !important;
        }
    }

    .contact-ellipse {
        height: 35px !important;
        width: 35px !important;
    }

}


@media(max-width: 360px) {
    .add-task-header-mobile {
        padding-left: 4px;
        padding-right: 4px;
    }

    .a-t-input::placeholder {
        font-size: 16px !important;
    }

    label,
    legend {
        font-size: 16px !important;
    }

    .a-t-input {
        font-size: 16px !important;
        padding-left: 15px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-right: 15px;
    }

    .a-t-sub-input{
        padding-right: 74px !important;
    }

    .a-t-priority-button-container{
        gap: 8px;
    }

    .btn-priority {
        width: 83px;

        div>span {
                margin: 0 5px 0 0;
        }
    }

    .prio-selected {
        font-size: 16px !important;
    }

    .btn-priority div>div {
        width: 9px;
        height: 9px;
    }

    .category-list-btn>p {
        font-size: 16px !important;
    }

    .btn-create-task>div>span {
        font-size: 16px;
    }
   

}


