.add-task-header-mobile {
    padding-left: 24px;
    padding-right: 24px;
}

.add-task-head-mobile {
    height: 112px;
    padding-left: 16px;
    margin-left: auto;
    margin-right: auto;
}

.content-mobile {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.add-task-mobile-fields {
    height:  calc((100vh - 390px));
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.add-task-footer-mobile {
    position: relative;
    bottom: 0px;
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
    width: auto;
    margin-top: 20px;
}

.add-task-footer-board-single {
    position: absolute;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    bottom: 23px;
    right: 75px;
    z-index: 1000;
    width: auto;
}

.add-task-form-buttons-mobile {
    height: 61px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 24px;
}


.notice-required {
    padding-left: 8px;
    font-family: 'Inter';
    font-size: 16px;
}

