.add-task-content {
    height: calc(100vh - (var(--header-height) + 20px));
}

.add-task-form-desktop {
    box-sizing: border-box;
    margin-left: 96px;
    margin-right: 24px;
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.add-task-form-dialog {
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    resize: both;
}

#dialog-content {
    padding: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-task-dialog {
    padding: 0;
    border: none !important;
    margin: auto;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0, 0.10);
    transform: translateX(150%);
    height: 870px;
    width: 1061px;
    overflow-y: hidden;
}

.add-task-board-dialog-single {
    padding: 0;
    border: none !important;
    margin: auto;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0, 0.10);
    overflow-y: hidden;
}


.add-task-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-task-fields {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    font-family: 'Inter';
}

.field-frame {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.field-frame-due-date {
    height: 80px;
    margin-bottom: 36px;
}

label,
legend {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    color: var(--bg-default);
    margin-bottom: 8px;
}

.required-label {
    margin-right: 4px;
    color: var(--input-error-color);
}

.a-t-f-i-container {
    width: calc((2 * 440px) + (2 * 24px) + 2px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.a-t-f-i-left {
    width: 440px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: start;
}

.a-t-f-i-right {
    width: 440px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.a-t-f-i-scroll {
    overflow-y: scroll;
}

.a-t-f-i-midle {
    height: 100%;
    min-width: 1px;
    background-color: var(--input-border-color);
    margin-left: 24px;
    margin-right: 24px;
}

.a-t-f-i-midle-dialog {
    height: 440px;
}

.add-task-footer {
    position: absolute;
    bottom: 45px;
    width: calc((2 * 440px) + (2 * 24px) + 2px);
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.add-task-footer-dialog {
    position: relative;
    bottom: 0px;
    margin-top: 35px;
}

.add-task-footer p {
    font-family: 'Inter';
    font-size: 16px;
    color: black;
    margin-block-start: 0;
    margin-block-end: 0;
    align-self: end;
}

.a-t-priority-button-container {
    width: 100%;
    /* height: 58px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 12px;
    margin-inline: 0;
    border-width: 0;
    border-style: none;
    border-color: transparent;
    border-image: initial;
    padding-block: 0;
    padding-inline: 0;
}


.a-t-input {
    /* width: calc(440px - 44px); */
    height: calc(48px - (2px + 24px));
    border-radius: 10px;
    padding: 12px 21px;
    border: 1px solid var(--input-border-color);
    font-family: 'Inter';
    font-size: 20px;
    background-color: white;
}

.a-t-input:-webkit-autofill,
.a-t-input:-webkit-autofill:hover,
.a-t-input:-webkit-autofill:focus {
    box-shadow: 0 0 0 1000px #fff inset !important;
    -webkit-text-fill-color: #000 !important;
    caret-color: #000;
}


.a-t-input::placeholder {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    color: var(--input-border-color);
}

.a-t-select {
    width: 100%;
    height: 48px;
}



.date-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 48px;
    z-index: 0;
}

.date-input {
    font-family: 'Inter';
    color: (--input-border-color);
    /* z-index: 200; */

    /* padding-right: 50px; */
    /* width: calc(440px - (12px + 50px + 11px)); */
    /* width: 80%; */
}

.date-input.focus {
    outline: none;
    border-color: var(--btn-bg-hover);
}

.a-t-input:focus {
    outline: none;
    border-color: var(--btn-bg-hover);
}

.input-has-error {
    outline: none;
    border-color: var(--input-error-color);
}

.date-input-hidden {
    position: relative;
    width: 80%;
    color: transparent;
    pointer-events: unset;
    transform: translateY(-100%) translateX(5px);
    z-index: -1;
    border: none;
    outline: none;
}

.date-input-hidden-dialog {
    transform: translateY(-108%) translateX(5px);
}

.date-trigger {
    transform: translateY(-238%) translateX(-70%);
    width: 24px;
    height: 24px;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
    z-index: 300;
    align-self: flex-end;
}

.date-trigger>div {
    height: 22px;
    width: 22px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('../assets/calendar-icon.svg');
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-8 {
    margin-bottom: 8px;
}

.a-t-error-text-container {
    height: 12px;
    margin-top: 4px;
    margin-bottom: 16px;
}

.a-t-error-text-container p {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0;
}

.error-text-show {
    color: var(--input-error-color) !important;
}

.error-text-hidden {
    color: transparent !important;
}

.show-hidden {
    z-index: -1;
}

.a-t-text-area {
    max-height: calc(120px - (2 * 1px) - (2 * 16px));
    border-radius: 10px;
    border: 1px solid var(--input-border-color);
    padding: 16px 18px;
    margin-bottom: 24px;
    font-family: 'inter';
    font-size: 20px;
}

.a-t-text-area-task-edit {
    min-height: 120px;
}

.a-t-text-area:focus {
    outline: none;
    border-color: var(--btn-bg-hover);

}

.a-t-text-area::placeholder {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    color: var(--input-border-color);
}


.add-task-form-buttons {
    height: 61px;
    display: flex;
    align-items: center;
    gap: 16px
}

.category-list-container,
.contact-List-container {
    box-sizing: border-box;
    position: relative;
    transform: translateY(-25px);
    height: 0;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    background-color: white;
    z-index: 1;
    overflow: hidden;
    transition: height 0.3s ease;

}

.any-list-scroll {
    overflow: unset !important;
}

.category-list-container {
    transform: translateY(-54px);
}

.category-list-for-task,
.contact-List-for-task {
    width: 100%;
    margin-top: 28px;
    margin-bottom: 14px;
    height: 0;
    background-color: white;
    overflow-y: scroll;

}


.category-list-for-task {
    overflow-y: hidden;
}

.display-hidden {
    display: none;
}

.show-front {
    z-index: 5;
}

.sub-input-container,
.category-select-container,
.contact-select-container {
    position: relative;
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.a-t-sub-input,
.a-t-category-input,
.a-t-contact-input {
    width: 100%;
    padding-right: 50px;
    cursor: pointer;
}


.a-t-sub-input {
    padding-right: 75px;
}

.btn-show-hide-category-list,
.btn-show-hide-contact-list {
    height: 24px;
    width: 24px;
    border: none;
    position: absolute;
    right: 18px;
    cursor: pointer;
    background-color: transparent;
    z-index: 5;
}


.icon-show-list {
    background-image: url('../assets/arrow_drop_down.svg');
    width: 7.21px;
    height: 4.6px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: transparent;
}

.icon-hide-list {
    background-image: url('../assets/arrow_drop_up.svg');
    width: 7.21px;
    height: 4.6px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: transparent;
}

.a-t-contact-input::placeholder {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.a-t-contact-input:focus::placeholder {
    color: transparent;
}

.category-list-btn,
.contact-list-btn {
    width: 100%;
    height: 54px;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: transparent;
    margin-bottom: 1px;
    cursor: pointer;
}



.category-list-btn>p {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0;
}

.category-list-btn:hover,
.contact-list-btn:hover {
    background-color: var(--bg-contact-item);
}

.contact-list-btn-view {
    cursor: unset;
}

.contact-list-btn-view:hover {
    background-color: transparent !important;
}

.contact-selected {
    background-color: var(--bg-default);
}

.contact-selected:hover {
    background-color: var(--btn-bg-active);
}


.contact-profil-container {
    display: flex;
    align-items: center;
    margin: 8px 16px;

    p {
        margin-left: 8px;
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 400;
        color: black;
        margin-block-start: 0;
        margin-block-end: 0;
    }
}


.contact-ellipse {
    height: 38px;
    width: 38px;
    border: 2px solid white;
    display: flex;
    justify-self: center;
    align-items: center;
    border-radius: 50%;

    span {
        width: 38px;
        font-family: 'Inter';
        font-size: 12px;
        font-weight: 400;
        color: white;
        text-align: center;
        margin: 0 !important;
    }
}

.contact-check-icon {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: none;
    background-color: transparent;
    margin-right: 8px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.contact-unchecked {
    background-image: url('../assets/add-task-contact-check-unchecked.svg');
}

.contact-checked {
    background-image: url('../assets/add-task-contact-check-checked.svg');
}

.contact-assigned-badge {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    position: relative;
    margin-top: 8px;
}


.sub-input-writing-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
}

.sub-list-writing-btn-container button,
.sub-list-edit-btn-container button,
.sub-input-writing-btn-container button {
    border: none;
    background-color: transparent;
    height: 24px;
    width: 24px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.sub-list-writing-btn-container button:hover,
.sub-input-writing-btn-container button:hover {
    border-radius: 50%;
    background-color: var(--bg-btn-hover-special);
}

.sub-input-writing-btn-container button:nth-child(1)>div {
    height: 13.5px;
    width: 13.5px;
    background-image: url('../assets/close-sub-icon.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sub-list-edit-btn-container div:nth-child(2),
.sub-input-writing-btn-container div:nth-child(2) {
    margin-left: 2px;
    margin-right: 2px;
    width: 1px;
    border: 1px;
    height: 24px;
    background-color: var(--input-border-color);

}

.sub-list-writing-btn-container .btn-accept>div,
.sub-input-writing-btn-container button:nth-child(3)>div {
    height: 11.25px;
    width: 14.49px;
    background-image: url('../assets/check-sub-icon.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.subtask-list-input-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: 2px;
    cursor: default;
    box-sizing: border-box;
}

.sub-task-list {
    box-sizing: border-box;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.sub-task-list .li-edit {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: 2px;
    cursor: default;
    box-sizing: border-box;
    padding: 8px 1px 8px 1px;
}

.sub-task-list li {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: 2px;
    cursor: pointer;
    transition: background 0.1s ease-in-out;
    padding: 8px 12px 8px 22px;
    box-sizing: border-box;
}

.sub-task-list .li-readonly::before {
    position: absolute;
    content: "•";
    left: 8px;
    top: 0.55em;
    font-size: 16px;
    color: black;
    line-height: 1;
}

.sub-task-list-input-readonly {
    display: block;
    flex: 1 1 0%;
    min-width: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: 400;
    color: black;
    background: transparent;
    border: none;
    cursor: pointer;
    white-space: normal;
    overflow-wrap: anywhere;
    word-break: break-word;
}

.sub-task-list-input-readonly:focus {
    outline: none;
}


.sub-list-edit-btn-container {
    flex: 0 0 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
}

.sub-list-writing-btn-container {
    flex: 0 0 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}


.sub-list-edit-btn-container .btn-edit>div {
    height: 18.25px;
    width: 18.25px;
    background-image: url('../assets/edit-sub-icon.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sub-list-writing-btn-container .btn-separator, 
.sub-list-edit-btn-container .btn-separator {
    width: 1px;
    height: 24px;
    background-color: var(--input-border-color);
}

.sub-list-writing-btn-container .btn-delete>div,
.sub-list-edit-btn-container .btn-delete>div {
    height: 17px;
    width: 14px;
    background-image: url('../assets/delete-icon.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.sub-task-list .li-readonly:hover {
    background-color: var(--bg-contact-item);
    border-radius: 10px;
}


.sub-task-list .li-readonly:hover .sub-list-edit-btn-container {
    opacity: 1;
    pointer-events: all;
}

.subtask-list-edit-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 8px;
    min-width: 0;
    flex: 1 1 auto;
    border-bottom: solid 1px var(--btn-bg-hover);
}

.sub-task-list-input-edit {
    display: block;
    flex: 1 1 0%;
    min-width: 0;
    outline: none;
    border: none;
    background-color: white;
    padding-block: 0;
    padding-inline: 0;
    padding: 4px 8px 6px 7px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    color: black;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    word-break: break-word;
}


.add-task-safe-changes {
    position: absolute;
    z-index: 10000;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 16px;
    background-color: var(--bg-default);
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, .15);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(calc(100vw / 2 - 100px)) translateY(-1000%);
    transition: transform 250ms ease-in-out;
}

.add-task-safe-changes>span {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.safe-changes-toast-open {
    transform: translateX(calc(100vw / 2 - 100px)) translateY(calc(100vh / 2 - 25px));
}



.add-task-safe-dialog {
    width: 326px;
    height: 74px;
    border: none;
    border-radius: 20px;
    background-color: var(--bg-default);
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, .15);
}

.add-task-safe-dialog::backdrop {
    background-color: rgba(0, 0, 0, .10);
}

.add-task-safe-dialog>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding-left: 16px;
    padding-right: 16px;
    height: 24px;
    transform: translateY(100%);
}

.add-task-safe-dialog span {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
}

.add-task-safe-dialog>div>div {
    height: 30px;
    width: 30px;
    background-image: url('../assets/board-icon-for-safe.svg');
    background-position: center center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
}

.safe-dialog-show {
    animation: slide-Dialog-in-from-bottom 900ms ease-in;
}

@keyframes slide-Dialog-in-from-bottom {
    from {
        transform: translateY(1000%);
    }

    to {
        transform: translateY(0%);
    }
}