body {
    overflow-x: hidden;
}

.board-header {
    position: fixed;
    top: var(--header-height);
    z-index: 100;
    height: 232px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--bg-default-sites);
}

.board-headline {
    height: 73px;
    max-width: 1056px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 64px;
    padding-top: 79.5px;
}

.board-headline-text {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 61px;
}

.board-right-headline-content {
    display: flex;
    align-items: center;
    gap: 32px;
}

.btn-add-task {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 48px;
    border-radius: 10px;
    gap: 4px;
    padding: 8px 16px;
}

.btn-add-task-icon {
    background-image: url(./assets/add-task-icon.svg);
    width: 32px;
    height: 32px;
}

.btn-add-task-text {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 21px;
    padding: 12px 0;
}

.board-headline-bottom {
    display: flex;
    align-items: center;
    gap: 24px;
    width: 100%;
    height: 24px;
    padding: 32px 64px 0 64px;
}

.board-headline-column {
    max-width: 244px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.board-column-text {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    color: var(--menu-font-color-board);
}

.board-search-wrapper {
    position: relative;
    width: 312px;
    height: 48px;
}

.board-input-search {
    width: 100%;
    height: 48px;
    border-radius: 10px;
    border-width: 1px;
    padding: 8px 16px;
    font-size: 16px;
    box-sizing: border-box;
}

.board-search-btn {
    background: none;
    border: none;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    height: 32px;
    width: 32px;
    gap: 16px
}

.board-search-btn img {
    width: 24px;
    height: 24px;
}

.search-seperator {
    width: 0px;
    height: 31px;
    border: 1px solid var(--input-border-color);
}

.board-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 64px;
    gap: 24px;
}

.board-main-content {
    display: flex;
    flex-direction: column;
    padding-top: 232px;
}

.board-kanban {
    display: flex;
    /* width: 100%; */
    height: 688px;
    gap: 24px;
    padding: 0px 64px 0 64px;
    position: sticky;
    top: 0;
    overflow-y: auto;
}

.empty-Search-Result-info {
    display: none;
    position: absolute;
    left: 40%;
    top: 10%;
    transform: translate(-50%);
    background-color: var(--bg-light-gray);
    padding: 5px;
    border-radius: 24px;
    color: var(--menu-font-color-board);

    p {
        font-family: Inter;
        font-weight: 700;
        font-style: Bold;
        font-size: 20px;
        color: var(--menu-font-color-board);
    }
}

.kanban-column {
    width: 246px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
}

.kanban-dropzone-show {
    opacity: 1;

}

.kanban-dropzone {
    width: 246px;
    display: block;
    height: 212px;
    opacity: 0;
    border-radius: 24px;
    margin-bottom: 8px;
    margin-top: auto;
    border: 1px dashed var(--btn-compliance-links-font-color);
    background-color: var(--bg-light-gray);
}

.kanban-tasks {
    width: 246px;
    gap: 24px;
}

.kanban-task {
    background-color: white;
    border-radius: 24px;
    padding: 16px;
    gap: 10px;
    margin-bottom: 8px;
    cursor: grab;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}

.kanban-task-empty {
    background-color: var(--bg-light-gray);
    border-radius: 10px;
    padding: 16px;
    gap: 10px;
    margin-bottom: 8px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    border: 1px dashed var(--btn-compliance-links-font-color);
}

.kanban-task-empty p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    color: var(--btn-compliance-links-font-color);
}

.dragging {
    transform: rotate(5deg) scale(1.05);
    transition: box-shadow 0.2s, transform 0.2s, opacity 0.2s;
}