@media(max-width: 1290px) {

    #add-contact-dialog {
        width: 90%;
    }

    .left-container-contacts {
        width: 90%;
        padding: 66px 24px;
        ;
    }

    .add-contact-form-and-picture {
        margin-left: 0px;
        padding-right: 16px;
        flex-direction: column;
    }

    .close-contact-overlay {
        padding-left: 0;
        padding-right: 16px;
        display: flex;
        justify-content: flex-end;
    }

    .add-contact-form.form-for-add-contact {
        padding-left: 32px;
    }

    .contacts-header {
        gap: 15px;
    }

    .contacts-title {
        font-size: calc(61px * 0.7);
    }

    .contacts-subtitle {
        font-size: calc(20px * 0.7);
    }

    .contacts-detailview-name {
        font-size: calc(47px * 0.7);
    }

    .first-line-detail-view {
        gap: calc(54px * 0.7);
    }

    .initial-avatar {
        width: calc(120px * 0.7);
        height: calc(120px * 0.7);
    }

    .detail-view-initials {
        font-size: calc(47px * 0.7);
    }
}

@media(max-width: 1180px) {
    .add-contact {
        width: auto;
        padding-left: 0;
        display: flex;
        justify-content: center;
    }

    .btn-block {
        width: auto;
    }

    .first-line-detail-view {
        gap: calc(54px * 0.5);
    }

    .contact-letter {
        width: auto;
        font-size: calc(20px * 0.7);
    }

    .contact-item {
        padding: 15px 12px;
    }


    .contact-item-active {
        gap: 16.5px;
    }

    .contact-item {
        gap: 16.5px;
        padding: 15px 12px;
    }

    .btn-add-contacts-text {
        font-size: calc(21px * 0.7);
    }

    .contacts {
        max-width: 300px;
        padding: 0;
        ;
    }

    .contact-list-content {
        padding-right: 12px;
        padding-left: 12px;
    }

    .contacts-header {
        padding-left: 26.5px;
    }

    .contact-detail-content {
        padding-left: 31px;
    }

    .add-contact-form {
        padding-left: 16px;
    }

    .headline-add-contacts {
        white-space: unset;
    }
}

@media (max-width: 375px) {
    .headline-add-contacts {
        white-space: unset;
    }
}

@media (max-height: 825px) {
    .left-container-contacts-mobile {
        height: auto;
    }

    .add-contact-profil-picture-mobile {
        top: calc(50% - 120px);
    }
}

@media (max-height: 760px) {
    .left-container-contacts-mobile {
        height: auto;
    }

    .add-contact-profil-mobile {
        top: 27%;
    }

    .add-contact-form-mobile {
        padding-top: 24px;
        padding-bottom: 12px;
    }

    .join-h1-mobile-contact-dialog {
        font-size: calc(47px * 0.7);
    }

    .underline-add-contacts-mobile {
        font-size: calc(27px * 0.7);
    }

    .add-contact-profil-picture-mobile {
        width: 60px;
        height: 60px;
    }

    .add-contact-profil-picture-mobile {
        left: calc(50% - 30px);
        top: calc(50% - 100px);
    }
}