.nav-mobile-menu {
    height: 80px
}

.contact-list-mobile {
    height: calc(100vh - 160px);
    width: 100%;
}

.contacts-main-mobile {
    display: flex;
}

.contact-list-content-mobile {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 36px;
    padding-bottom: 36px;
    height: 100%;
    box-sizing: border-box;
    background-color: white;
}

.add-btn-mobile {
    width: 352px;
    height: 56px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    gap: 16px;
    border-radius: 10px;
    border-width: 1px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.add-contact-mobile {
    width: 352px;
    height: 56px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    gap: 16px;
    border-radius: 10px;
    border-width: 1px;
    position: static;
    z-index: 2;
}

.btn-add-contacts-icon-mobile {
    width: 32px;
    height: 32px;
}

.btn-add-contacts-text-mobile {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 21px;
    padding: 12px 0;
}

.contacts-scroll-wrapper-mobile {
    flex: 1 1 auto;
    overflow-y: auto;
    max-height: calc(100vh - 160px);
    padding: 17px 36px;
}

.contacts-mobile {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: calc(100vh-160px);
}

.contact-initials-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border: 2px solid (inherit);
    border-radius: 50%;
    gap: 10px;
}

.contact-initials-text-mobile {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    color: white;
}

.separator-contact-list-mobile {
    height: 1px;
    background-color: var(--input-border-color);
    width: 100%;
}

.contact-letter-mobile {
    width: 352;
    height: 58;
    padding-top: 17px;
    padding-right: 36px;
    padding-bottom: 17px;
    padding-left: 36px;
    gap: 8px;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    vertical-align: middle;
}

.contact-item-mobile {
    display: flex;
    padding: 15px 24px;
    gap: 35px;
    cursor: pointer;
}

.contact-item-active-mobile {
    display: flex;
    padding: 15px 24px;
    gap: 35px;
    background-color: var(--bg-default);
    border-radius: 10px;
}

.contact-item-active-mobile .contact-name-mobile {
    color: white;
}

.contact-item-active-mobile .contact-initials-mobile {
    border: 2px solid white;
}

.contact-item-active-mobile:hover {
    background-color: var(--bg-default);
}

.contact-info-mobile {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-item-mobile:hover {
    background-color: var(--bg-contact-item);
    border-radius: 10px;
}

.contact-info-mobile {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-item-mobile:not(.contact-item-active-mobile):hover {
    background-color: var(--bg-contact-item);
    border-radius: 10px;
}

.contact-item-active {
    background-color: var(--bg-default);
    border-radius: 10px;

}

.contact-item-active-mobile:hover {
    background-color: var(--bg-default);
}

.contact-name-mobile {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    vertical-align: middle;
}

.contact-email-mobile {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    vertical-align: middle;
    color: var(--font-email-color);
}

.contact-detail-view-mobile {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 21px;
    height: calc(100vh - 160px);
    padding-right: 16px;
    width: 100%;
}

.contacts-header-text-mobile {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.btn-back-to-contact-list {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: 32px;
    height: 32px;

    img {
        width: 100%;
        height: 100%;
    }
}

.contacts-header-mobile {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 48px;
    padding-left: 16px;
    padding: 48px 0 0 16px;
    box-sizing: border-box;
}

.contacts-title-mobile {
    margin: 0;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 47px;
}

.contacts-subtitle-mobile {
    margin: 0;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
}

.headings-separator-icon {
    width: 90px;
    height: 3px;
    background-color: var(--btn-bg-hover);
}

.contact-detail-content-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
    gap: 21px;
}

.slide-Details-in-mobile {
    animation: slide-Dialog-in 1000ms ease-in-out forwards;
}

.first-line-detail-view-mobile {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.initial-avatar-mobile {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid (inherit);
    border-radius: 50%;
    gap: 10px;
}

.detail-view-initials-mobile {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 27px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
}

.name-and-action-panel-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}

.contacts-detailview-name-mobile {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
}



.action-icons-mobile {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}


.action-edit-icon-mobile {
    background-image: url(../assets/edit-contacts-icon.svg);
}

.action-delete-icon-mobile {
    background-image: url(../assets/delete-contacts-icon.svg);
}

.btn-contact-edit-mobile {
    width: 63px;
    height: 24px;
}

.btn-contact-delete-mobile {
    width: 83px;
    height: 24px;
}

.btn-contact-action-mobile {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding-inline: 0;
    gap: 8px;

    p {
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        vertical-align: middle;
        margin: 0;
    }
}

.btn-contact-action-mobile:hover p {
    color: var(--btn-bg-hover);
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    vertical-align: middle;

}

.btn-contact-action-mobile:hover .action-edit-icon-mobile {
    background-image: url(../assets/edit-contacts-icon-hover.svg);
}

.btn-contact-action-mobile:hover .action-delete-icon-mobile {
    background-image: url(../assets/delete-contacts-icon-hover.svg);
}

.detail-c-view-subline-mobile {
    display: flex;
    justify-content: start;
    gap: 30px;

    p {
        margin: 0;
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 20px;
    }
}

.detail-c-view-email-mobile p:first-of-type,
.detail-c-view-phone-mobile p:first-of-type {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    margin: 0 !important;
}

.detail-c-view-email-mobile p:last-child,
.detail-c-view-phone-mobile p:last-child {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;

}

.detail-c-view-email-mobile p:last-child {
    color: var(--font-email-color);
}

.mobile-menu-btn {
    position: fixed;
    top: calc(100vh - 170px);
    right: 20px;
    width: 56px;
    height: 56px;
    background-color: var(--bg-default);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-lr;
    color: white;
    font-size: 21px;
}

.detail-contact-actions-mobile {
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 20px 20px 0px 20px;
    gap: 16px;
    height: 100px;
    background-color: #ffffff;
    position: fixed;
    bottom: 85px;
    right: 20px;
}

.contact-dialog-mobile {
    border: none;
    border-radius: 30px;
    padding: 0;
}

.dialog-action-menu-mobile {
    border: none;
    border-radius: 20px 20px 0 20px;
    height: 100px;
    width: 116px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: fixed !important;
    right: 16px;
    bottom: 16px;

}

.dialog-action-menu-mobile[open] {
    height: 100px;
    width: 116px;
    position: fixed !important;
    right: 16px;
    bottom: calc(16px + 80px);
    left: auto !important;
    top: auto !important;
    margin: 0 !important;
    transform: none !important;
    padding: 10px;
}

.dialog-action-menu-mobile:not([open]) {
    display: none;
}

.dialog-action-menu-mobile-wrapper {
    position: fixed;
    right: 16px;
    bottom: 16px;
    width: 116px;
    height: 100px;
    background: #fff;
    border-radius: 20px 20px 0 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1001;
}

.btn-contact-edit-mobile,
.btn-contact-delete-mobile {
    width: 116px;
    height: 100px;
}

#navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 200;
    width: 100%;
}