.contact-list {
    height: calc(100vh - var(--header-height));
    max-width: var(--contacts-scrollbar-width);
    box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);
}

.contacts-main {
    display: flex;
}

.contact-list-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-left: 24px;
    height: 100%;
    box-sizing: border-box;
}

.add-btn {
    width: 352px;
    height: 56px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    gap: 16px;
    border-radius: 10px;
    border-width: 1px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.add-contact {
    width: 352px;
    height: 56px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    gap: 16px;
    border-radius: 10px;
    border-width: 1px;
    position: static;
    z-index: 2;
    background: white;
}

.btn-add-contacts-icon {
    width: 32px;
    height: 32px;
}

.btn-add-contacts-text {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 21px;
    padding: 12px 0;
}

.contacts-scroll-wrapper {
    flex: 1 1 auto;
    overflow-y: auto;
    max-height: calc(100vh - var(--header-height));

}

.contacts {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-initials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border: 2px solid var(--bg-orange);
    background-color: var(--bg-orange);
    border-radius: 50%;
    gap: 10px;
}

.contact-initials-text {
    background-color: var(--bg-orange);
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    color: white;
}

.separator-contact-list {
    height: 1px;
    background-color: var(--input-border-color);
    width: 100%;
}

.contact-letter {
    width: 352;
    height: 58;
    padding-top: 17px;
    padding-right: 36px;
    padding-bottom: 17px;
    padding-left: 36px;
    gap: 8px;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    vertical-align: middle;

}

.contact-item {
    display: flex;
    padding: 15px 24px;
    gap: 35px;
}

.contact-item:active {
    background-color: var(--bg-default);
    border-radius: 10px;
}

.contact-item:active .contact-name {
    color: white;
}

.contact-item:active .contact-initials {
    border: 2px solid white;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-name {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    vertical-align: middle;
}

.contact-email {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    vertical-align: middle;
    color: var(--font-email-color);
}

.contact-detail-view {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 21px;

}

.contacts-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding-top: calc(208px - var(--header-height));
    padding-left: calc(743px - var(--navbar-width) - var(--contacts-scrollbar-width));
}

.contacts-title {
    margin: 0;
    font-size: 61px;
    font-weight: 700;
    font-family: 'Inter';
}

.contacts-subtitle {
    font-family: Inter;
    font-weight: 400;
    font-size: 27px;
    margin: 0;
}

.contact-detail-content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 21px;
    padding-left: calc(750px - var(--navbar-width) - var(--contacts-scrollbar-width));
}

.first-line-detail-view {
    display: flex;
    flex-direction: row;
    gap: 54px;
}

.initial-avatar {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--bg-orange);
    background-color: var(--bg-orange);
    border-radius: 50%;
    gap: 10px;
}

.detail-view-initials {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 47px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
}

.name-and-action-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}

.contacts-detailview-name {
    font-family: Inter;
    font-weight: 500;
    font-size: 47px;
    vertical-align: middle;

}

.contacts-detailview-actions {
    display: flex;
    gap: 13px;

}

.action-icons {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;

}

/**FIXME - apply .action-icons  funktioniert nicht*/
.action-edit-icon {
    /* @apply .action-icons; */
    background-image: url(../assets/edit-contacts-icon.svg);
}

.action-delete-icon {
    /* @apply .action-icons; */
    background-image: url(../assets/delete-contacts-icon.svg);

}

.btn-contact-edit {
    width: 63px;
    height: 24px;
}

.btn-contact-delete {
    width: 83px;
    height: 24px;
}

/*TODO - Btn sollten noch verschoben werden*/
.btn-contact-action {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding-inline: 0;
    gap: 8px;

    p {
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        vertical-align: middle;
        margin: 0;
    }
}

.btn-contact-action:hover p {
    color: var(--btn-bg-hover);
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    vertical-align: middle;

}

.btn-contact-action:hover .action-edit-icon {
    background-image: url(../assets/edit-contacts-icon-hover.svg);
}

.btn-contact-action:hover .action-delete-icon {
    background-image: url(../assets/delete-contacts-icon-hover.svg);
}

.detail-c-view-subline {
    display: flex;
    justify-content: start;

    p {
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 20px;
    }
}

.detail-c-view-email :first-child,
.detail-c-view-phone :first-child {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
}


.detail-c-view-email :last-child,
.detail-c-view-phone :last-child {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
}

.detail-c-view-email :last-child {
    color: var(--font-email-color);
}