.header-desktop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--header-height);
    z-index: 200;
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    max-width: calc(1440px);
}

.header-headline {
    position: absolute;
    left: var(--header-position-left);
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter';
    margin: 0;
}

.help-profile-actions {
    margin-left: auto;
    margin-right: 40px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.help-btn {
    width: 20px;
    height: 20px;
    background-image: url(../assets/help-icon.svg);
    background-size: contain;
    border: none;
}

.help-btn:hover {
    width: 24px;
    height: 24px;
}

.profil-btn {
    width: 56px;
    height: 56px;
    border: 3px solid var(--bg-default);
    border-radius: 50%;
}

.user-initial {
    color: var(--btn-bg-hover);
    font-size: 16px;
    font-weight: bold;
}

.profil-btn:hover {
    background-color: var(--btn-profil-hover);

}