.header-desktop {
    height: var(--header-height);
    z-index: 200;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.header-content-container {
    max-width: calc(var(--max-width) - var(--navbar-width));
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: calc(348px - var(--navbar-width));
}

.header-headline {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter';
    margin: 0;
}

.help-profile-actions {
    margin-left: auto;
    margin-right: 40px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.help-btn {
    width: 20px;
    height: 20px;
    background-image: url(../assets/help-icon.svg);
    background-size: contain;
    border: none;
    background-color: transparent;
}

.help-btn:hover {
    width: 24px;
    height: 24px;
}

.profil-btn {
    width: 56px;
    height: 56px;
    border: 3px solid var(--bg-default);
    border-radius: 50%;
    background-color: transparent;
}

.user-initial {
    color: var(--btn-bg-hover);
    font-size: 16px;
    font-weight: bold;
}

.profil-btn:hover {
    background-color: var(--btn-profil-hover);

}