@media (max-width: 1090px) {

    .login-join-logo {
        top: calc(var(--logo-position-top) * 0.85);
        left: calc(var(--logo-position-left) * 0.85);
        height: calc(var(--logo-height) * 0.85);
        width: calc(var(--logo-width) * 0.85);
    }

    .form-for-login {
        height: calc(var(--form-for-login-height) * 0.85);
        width: calc(var(--form-for-login-width) * 0.85);
    }

    .form-for-signup {
        width: calc(var(--form-for-signup-width) * 0.8);
    }

    .signup-logo {
        top: calc(var(--logo-position-top) * 0.5);
    }
}

@media(max-width: 880px) {
    .signup-logo {
        top: calc(var(--logo-position-top) * 0.5);
        left: calc(var(--logo-position-left) * 0.5);
        height: calc(var(--logo-height) * 0.7);
        width: calc(var(--logo-width) * 0.7);
    }

    .login-signup-container {
        padding: 0px 16px;
    }

    .form-for-signup{
        margin-top: 70px;
    }
}

@media (max-width: 600px) {

    .form-for-login {
        height: calc(var(--form-for-login-height) * 0.75);
        width: calc(var(--form-for-login-width) * 0.75);
    }

    .login-signup-form {
        margin: 0;
        padding: 0 24px;
    }

    .form-for-signup {
        width: 100%;
        margin-top: 77px;
    }


    .login-signup-form h1 {
        font-size: 47px;
    }

    .login-signup-h1-line {
        width: 88px;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

}

@media (max-width: 500px) {

    html,
    body {
        margin: 0;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .login-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
    }

    .login-signup-header {
        order: 2;
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        padding: 0 25px;
        min-height: 49px;
        margin-bottom: 75px;
    }

    .login-signup-header p {
        margin-right: 35px;
    }

    .login-signup-container {
        order: 1;
        width: 100%;
        margin-top: 100px;
        padding: 0px 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer {
        order: 3;
    }


    .login-signup-footer {
        justify-content: center;
        align-items: center;
        gap: 16px;
        padding-bottom: 32px;
    }


    .login-signup-form {
        margin: 0;
    }

    .form-for-login {
        height: 450px;
        width: 100%;
    }

    .form-for-signup {
        height: 598px;
        width: 100%;
    }



    .login-signup-input-field-container {
        width: 100%;
        padding: 0 16px;
        margin-bottom: 32px;
    }

    .login-form-buttons {
        flex-direction: column;
        gap: 21px;

    }

    .signup-form-button {
        margin-top: 32px;
    }

    #signup-button {
        width: 180px;
    }

    .arrow-left {
        left: 31px;
        top: 44px;
        transform: scale(0.75);
    }

    .arrow-left:hover {
        left: 31px;
        width: 33px;
        height: 32px;
        background-image: url("../assets/arrow-left-default.svg");
    }

    .arrow-left:active {
        left: 30px;
        width: 38px;
        background-image: url("../assets/arrow-left-variant1.svg");
    }

    .login-join-logo {
        top: 37px;
        left: 37px;
        transform: scale(0.82);
        height: calc(var(--logo-height) * 0.78);
        width: calc(var(--logo-width) * 0.78);
    }

    

    @keyframes moveLogoMobile {
        0% {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1.2);
            background-image: url('../assets/join-logo.svg');
        }

        40% {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1.2);
            background-image: url('../assets/join-logo.svg');
        }

        50% {
            background-image: url('../assets/logo-for-Favicon.svg');
        }

        100% {
            top: 37px;
            left: 37px;
            transform: scale(0.82);
        }
    }


    @keyframes fadeBackground {
        0% {
            background-color: var(--bg-default);
        }

        40% {
            background-color: var(--bg-default);
        }

        100% {
            background-color: var(--default-bg-color);
        }
    }


    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

}

@media(max-width: 400px) {
    .login-join-logo {
        top: 21px;
        left: 26px;
    }

    .login-signup-form h1 {
        font-size: 42px;
    }

    .form-for-login {
        height: 427px;
    }

    .login-signup-input {
        font-size: 16px;
        padding: 11px 50px 11px 12px;
    }

    .login-signup-input::placeholder {
        font-size: 16px;
    }
}

@media(max-width: 350px) {
    .arrow-left {
        left: 24px;
        transform: scale(0.6);
    }

    .arrow-left:hover {
        left: 24px;
    }

    .arrow-left:active {
        left: 20px;
    }
}