.login-signup-page {
    background-color: var(--default-bg-color);
    display: flex;
    justify-content: center;
}

.login-signup-main {
    max-width: var(--max-width);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin: 0 auto;
}


.login-join-logo {
    position: absolute;
    top: 80px;
    left: 77px;
    transform: scale(1);
    height: 121px;
    width: 100px;
    background-image: url('../assets/logo-for-Favicon.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1000;
}


.login-signup-header {
    padding-right: 64px;
    padding-top: 64px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 48px;
}

.login-signup-header p {
    font-size: 20px;
    font-weight: 400;
    color: black;
    margin-right: 35px;
}

.login-signup-container {
    flex: 1;
    height: calc(100vh - (114px + 72px));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}


.login-signup-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    padding-bottom: 32px;
}

.login-signup-footer a {
    font-family: "Inter";
    color: var(--btn-compliance-links-font-color);
}

.login-signup-footer a:hover {
    color: var(--btn-bg-hover);
    font-weight: 700;
}

.login-signup-form {
    position: relative;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.05);
}

.form-for-login {
    height: var(--form-for-login-height);
    width: var(--form-for-login-width);
    margin-bottom: 80px;
}

.form-for-signup {
    height: var(--form-for-signup-height);
    width: var(--form-for-signup-width);
}

.login-signup-form h1 {
    font-weight: 700;
    font-size: 61px;
    margin: 0;
    margin-bottom: 16px;
}

.login-signup-h1-line {
    height: 3px;
    width: 150px;
    background-color: var(--btn-bg-hover);
    margin-bottom: 20px;
}

.login-signup-input-field-container {
    width: 422px;
    display: flex;
    flex-direction: column;
}

.login-signup-input-container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
}

.login-signup-input {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--input-border-color);
    border-radius: 10px;
    padding: 11px 50px 11px 21px;
    margin: 0;
    background-color: white;
    font-family: 'Inter';
    font-size: 20px;
}

.login-signup-input:focus {
    outline: none;
    border-color: var(--btn-bg-hover);
}

.login-signup-input:-webkit-autofill,
.login-signup-input:-webkit-autofill:hover,
.login-signup-input:-webkit-autofill:focus {
    box-shadow: 0 0 0 1000px #fff inset !important;
    -webkit-text-fill-color: #000 !important;
    caret-color: #000;
}


.login-error-border {
    outline: none;
    border-color: var(--input-error-color);
}

.input-icons {
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    pointer-events: none;
    z-index: 1;
}

.input-mail {
    background-image: url("../assets/mail-icon.svg");
}

.input-name {
    background-image: url("../assets/person-icon.svg");
}

.login-signup-input::placeholder {
    font-size: 20px;
    font-weight: 400;
    color: var(--input-border-color);
    text-align: left;
    background-color: transparent;
}

.login-password-container {
    position: relative;
    width: 100%;
}

.login-password {
    width: 100%;
    box-sizing: border-box;
}

.login-toggle-password {
    border: none;
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.login-password-lock {
    background-image: url("../assets/password-lock.svg");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: transparent;
}

.login-password-visible-off {
    background-image: url("../assets/password-visibility-off.svg");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: transparent;
}

.login-password-visible-on {
    background-image: url("../assets/password-visibility-on.svg");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: transparent;
}

.login-signup-error-text-container {
    height: 20px;
    width: 100%;

}

#login-error-text {
    font-family: 'Inter';
    font-size: 13px;
    font-weight: 400;
    color: var(--input-error-color);
    margin: 0;

}

.login-form-buttons {
    display: flex;
    gap: 32px;
    margin-top: 16px;
}

.signup-confirm-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-confirm-container span {
    margin-left: 12px;
    font-family: 'Inter';
    font-size: 16px;
    font-style: regular;
    font-weight: 400;
    color: var(--btn-compliance-links-font-color);
}

.signup-confirm-container span a {
    color: var(--btn-bg-hover);
}

.signup-confirm-button {
    display: none;
}

.signup-confirm-label {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url("../assets/signup-confirm-default.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    vertical-align: middle;
    transition: background-image 0.2s;
}

.signup-confirm-label:hover {
    background-image: url("../assets/signup-confirm-checked.svg");
}

.signup-confirm-button:checked+.signup-confirm-label {
    background-image: url("../assets/signup-confirm-checked.svg");
}

.arrow-left {
    position: absolute;
    left: 46px;
    top: 66px;
    width: 33px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    background-image: url("../assets/arrow-left-default.svg");
    transition: all 100ms ease-in-out;
    transform: scale(0.8);
}

.arrow-left:hover {
    left: 40px;
    width: 38px;
    background-image: url("../assets/arrow-left-variant1.svg");
}

.fixed-height {
    height: 50px;
}


.signUp-safe-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 312px;
    height: 74px;
    border: none;
    border-radius: 20px;
    background-color: var(--bg-default);
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, .15);
}

.signUp-safe-dialog::backdrop {
    background-color: rgba(0, 0, 0, .10);
}

.signUp-safe-dialog>span {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.safe-dialog-show {
    animation: slide-Success-in-from-bottom 900ms ease-in;
}

@keyframes slide-Success-in-from-bottom {
    from {
        transform: translateY(1000%);
    }

    to {
        transform: translateY(0%);
    }
}


@keyframes startup {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes moveLogo {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(2.74);
    }

    40% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(2.74);
    }

    100% {
        top: 80px;
        left: 77px;
        transform: scale(1);
    }
}