@media (max-width: 1010px) {

    .login-join-logo {
        top: calc(var(--logo-position-top) * 0.85);
        left: calc(var(--logo-position-left) * 0.85);
        height: calc(var(--logo-height) * 0.85);
        width: calc(var(--logo-width) * 0.85);
    }

    .form-for-login {
        height: calc(var(--form-for-login-height) * 0.85);
        width: calc(var(--form-for-login-width) * 0.85);
    }
}

@media (max-width: 600px) {

    .login-join-logo {
        top: calc(var(--logo-position-top) * 0.75);
        left: calc(var(--logo-position-left) * 0.75);
        height: calc(var(--logo-height) * 0.75);
        width: calc(var(--logo-width) * 0.75);
    }

    .form-for-login {
        height: calc(var(--form-for-login-height) * 0.75);
        width: calc(var(--form-for-login-width) * 0.75);
    }
}

@media (max-width: 500px) {

    html,
    body {
        margin: 0;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .login-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
    }

    .login-signup-header {
        order: 2;
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        padding: 0 25px;
        min-height: 49px;
        margin-bottom: 75px;
    }

    .login-signup-header p {
        margin-right: 35px;
    }

    .login-signup-container {
        order: 1;
        width: 100%;
        margin-top: 30%;
        padding: 0px 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer {
        order: 3;
        display: flex;
    }


    .login-signup-footer {
        justify-content: center;
        align-items: center;
        gap: 16px;
        padding-bottom: 32px;
    }


    .login-signup-form {
        margin: 0;
    }

    .form-for-login {
        height: 450px;
        width: 100%;
    }

    .form-for-signup {
        height: 598px;
        width: 100%;
    }

    .login-signup-form h1 {
        font-size: 47px;
    }

    .login-signup-input-field-container {
        width: 100%;
        padding: 0 16px;
    }

    .login-form-buttons {
        flex-direction: column;
        gap: 21px;
    }

    .signup-title {
        display: flex;
        align-items: center;
        gap: 12px;
        width: 100%;
        box-sizing: border-box;
        padding: 24px 10px 0;
    }

    .signup-title .arrow-left {
        position: relative;
        left: auto;
        top: auto;
        background-position: right center;
        flex: 0 0 33px;
    }

    .signup-title .arrow-left:hover {
        background-image: url("../assets/arrow-left-variant1.svg");
    }

    .fixed-height {
        height: 50px;
    }

    .login-join-logo {
        top: 37px;
        left: 37px;
        transform: scale(0.82);
        height: calc(var(--logo-height) * 0.78);
        width: calc(var(--logo-width) * 0.78);
    }

    @keyframes moveLogoMobile {
        0% {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1.2);
            background-image: url('../assets/join-logo.svg');
        }

        40% {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1.2);
            background-image: url('../assets/join-logo.svg');
        }

        50% {
            background-image: url('../assets/logo-for-Favicon.svg');
        }

        100% {
            top: 37px;
            left: 37px;
            transform: scale(0.82);
        }
    }


    @keyframes fadeBackground {
        0% {
            background-color: var(--bg-default);
        }

        40% {
            background-color: var(--bg-default);
        }

        100% {
            background-color: var(--default-bg-color);
        }
    }


    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

}

@media(max-width: 400px) {
    .login-join-logo {
        top: 21px;
        left: 26px;
    }

    .form-for-login {
        height: 427px;
    }

    .login-signup-input{
        font-size: 16px;
        padding: 11px 50px 11px 12px;
    }

    .login-signup-input::placeholder{
        font-size: 16px;
    }
}