.join-logo {
    padding: 64px 0;
}

.nav-desktop {
    height: 100vh;
    width: 232px;
    background-color: var(--bg-default);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-desktop-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 46px;
    width: 100%;
    background-color: transparent;
    color: var(--btn-menu-text-color);

}

.nav-desktop-btn div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.summary-img {
    content: url("../assets/summary-icon.svg");
}

.nav-desktop-btn:hover .summary-img:hover {
    content: url("../assets/summary-icon-hover.svg");
}

.add-task-img {
    content: url("../assets/add-task-icon.svg");
}

.nav-desktop-btn:hover .add-task-img {
    content: url("../assets/add-task-icon-hover.svg");
}

.board-img {
    content: url("../assets/board-icon.svg");
}

.nav-desktop-btn:hover .board-img {
    content: url("../assets/board-icon-hover.svg");
}

.contact-img {
    content: url("../assets/contacts-icon.svg");
}

.nav-desktop-btn:hover .contact-img {
    content: url("../assets/contacts-icon-hover.svg");
}

.nav-desktop-btn div p {
    margin-left: 8px;
    text-align: left;
    width: 60px;

}

.nav-desktop-btn:hover {
    background-color: var(--btn-menu-bg-hover);
    color: white;

}

.nav-desktop-btn:hover .summary-img:hover {
    content: url("../assets/summery-icon-hover.svg");
}


.nav-desktop-menu {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compliance-links {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 64px;
    gap: 8px;
}

.compliance-links a {
    color: var(--btn-compliance-links-font-color);
}