.buttom-container-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: var(--bg-default);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 300;
}

.nav-mobile {
    height: 80px;
    width: 100%;
    background-color: var(--bg-default);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.nav-mobile-spezial {
    box-sizing: border-box;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.nav-mobile-menu-spezial {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.nav-mobile-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-right: 16px;
}


.nav-mobile-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    height: 76px;
    width: 76px;
    background-color: transparent;
    color: var(--btn-menu-text-color);
    gap: 4px;
    align-self: flex-start;
}

.nav-mobile-btn div {
    height: 30px;
    width: 30px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.nav-mobile-btn:active {
    border-radius: 16px;
    background-color: var(--btn-bg-active);
}

.nav-mobile-btn-active {
    border-radius: 16px !important;
    background-color: var(--btn-bg-active) !important;
}

.summary-img {
    background-image: url("../assets/summary-icon.svg");
}


.add-task-img {
    background-image: url("../assets/add-task-icon.svg");
}


.board-img {
    background-image: url("../assets/board-icon.svg");
}


.contact-img {
    background-image: url("../assets/contacts-icon.svg");
}


.login-img {
    background-image: url("../assets/login-icon.svg");
}

.nav-mobile-btn p,
.nav-mobile-btn-compliance p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

.nav-mobile-menu {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}



.nav-mobile-btn-compliance {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    height: 75px;
    width: 112px;
    background-color: transparent;
    color: var(--btn-menu-text-color);
    margin-top: 4px;
    margin-bottom: 4px;
}

.nav-mobile-btn-compliance:disabled {
    cursor: not-allowed;
}

.nav-mobile-btn-compliance:active:enabled {
    border-radius: 16px;
    background-color: var(--btn-bg-active)
}

.compliance-links-spezial {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    justify-content: flex-end;
    gap: 8px;
}

.compliance-links-spezial a {
    font-family: "Inter";
    color: var(--btn-compliance-links-font-color);
}

.compliance-links-spezial a:hover {
    color: var(--btn-bg-hover);
    font-weight: 700;
}