.join-logo {
    padding: 64px 0;
}

.nav-desktop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: var(--navbar-width);
    background-color: var(--bg-default);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 300;
}

.nav-desktop-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 46px;
    width: 100%;
    background-color: transparent;
    color: var(--btn-menu-text-color);

}

.nav-desktop-btn div {
    height: 30px;
    width: 30px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.summary-img {
    background-image: url("../assets/summary-icon.svg");
}

.nav-desktop-btn:hover .summary-img {
    background-image: url("../assets/summary-icon-hover.svg");
}

.add-task-img {
    background-image: url("../assets/add-task-icon.svg");
}

.nav-desktop-btn:hover .add-task-img {
    background-image: url("../assets/add-task-icon-hover.svg");
}

.board-img {
    background-image: url("../assets/board-icon.svg");
}

.nav-desktop-btn:hover .board-img {
    background-image: url("../assets/board-icon-hover.svg");
}

.contact-img {
    background-image: url("../assets/contacts-icon.svg");
}

.nav-desktop-btn:hover .contact-img {
    background-image: url("../assets/contacts-icon-hover.svg");
}

.login-img{
    background-image: url("../assets/login-icon.svg");
}

.nav-desktop-btn p {
    margin-left: 8px;
    text-align: left;
    width: 70px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter';
}

.nav-desktop-btn:hover {
    background-color: var(--btn-menu-bg-hover);
    color: white;

}


.nav-desktop-menu {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compliance-links {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 64px;
    gap: 8px;
}

.compliance-links a {
    font-family: "Inter";
    color: var(--btn-compliance-links-font-color);
}

.compliance-links a:hover {
    color: var(--btn-bg-hover);
    font-weight: 700;
}