.phl-content-section{
    box-sizing: border-box;
    font-family: 'Inter';
    font-size: 16px;
    margin: 0 24px;
}

.phl-content-section h3, h2{
    font-size: 27px;
    font-family: 'Inter';
}

.phl-content-section a{
    color: var(--btn-bg-hover);
}