.phl-content-section {
    box-sizing: border-box;
    font-family: 'Inter';
    font-size: 16px;
    margin-left: 96px;
    margin-right: 24px;
    margin-bottom: 36px;
}


.phl-content-section a {
    color: var(--btn-bg-hover);
}

.phl-content-section p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 16px;
}

.join-spezial-text-color {
    color: var(--btn-bg-hover);
}

.help-list {
    list-style-type: none;
    counter-reset: help-counter;
    margin: 0;
    padding: 0;
}

.help-list li {
    counter-increment: help-counter;
    position: relative;
    padding-left: 58px;
}


.help-list li:before {
    content: counter(help-counter) ".";
    font-size: 27px;
    font-family: 'Inter';
    font-weight: 700;
    position: absolute;
    left: 0;

}


.help-actions-sticky {
    position: sticky;
    top: 210px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1000;
    padding: 10px 0;
    background-color: transparent;
    border: none;
}


.help-back {
    cursor: pointer;
    border: none;
    width: 33px;
    height: 32px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url("../assets/arrow-left-default.svg");
}

.help-back:hover {
    left: 58px;
    width: 38px;
    background-image: url("../assets/arrow-left-variant1.svg");
}

.phl-content-section p {
    margin-right: 24px;
}

.mt-24 {
    margin-top: 24px;
}

@media (max-width: 880px) {
    .phl-content-section {
        font-size: 16px;
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 90px;
    }

    .help-actions-sticky {
        top: 137px;
    }

    .help-back {
        width: 28px;
        height: 28px;
    }

    .help-back:hover {
        left: 58px;
        width: 28px;
        background-image: url("../assets/arrow-left-default.svg");
    }
}