:root {
    --navbar-width: 232px;
    --header-position-left: 0px;
    --header-height: 96px;
    --max-width: 1440px;
    --contacts-scrollbar-width: 456px;
    --logo-width: 100px;
    --logo-height: 121px;
    --logo-position-top: 80px;
    --logo-position-left: 77px;
    --form-for-login-width: 40.5rem;
    --form-for-login-height: 28rem;
    --form-for-signup-width: 630px;
    --form-for-signup-height: 598px;
}