:root {
    --navbar-width: 232px;
    --header-position-left: 0px;
    --header-height: 96px;
    --max-width: 1440px;
    --contacts-scrollbar-width: 456px;
    --login-signup-logo-width: 100px;
    --login-signup-logo-height: 121px;
    --form-for-login-width: 650px;
    --form-for-login-height: 450px;
}