body {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: var(--default-bg-color);
}

.join-h1 {
    font-family: 'Inter';
    font-size: 61px;
    font-weight: 700;
    color: black;
}

a {
    text-decoration: none;
}

.d-none {
    display: none;
}

.visually-hidden {
    position: absolute;
    left: -9999px;
}