body {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: var(--default-bg-color);
}

button {
    cursor: pointer;
}

.mb-8{
    margin-bottom: 8px;
}

.mb-32{
    margin-bottom: 32px;
}

.mb-26{
    margin-bottom: 26px;
}

.join-h1 {
    font-family: 'Inter';
    font-size: 61px;
    font-weight: 700;
    color: black;
}

.join-h1-mobile {
    font-family: 'Inter';
    font-size: 47px;
    font-weight: 700;
    color: black;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 42px;
}

.join-h1-mobile-contact-dialog {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 47px;
}

.join-h1-dialog {
    margin-block-start: 0;
    margin-block-end: 0;
}

.join-h1-dialog-sm {
    font-family: 'Inter';
    font-size: 47px;
    font-weight: 700;
    color: black;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 24px;
}

.join-h2 {
    font-family: 'Inter';
    font-size: 27px;
    font-weight: 700;
    color: black;
}

.join-h3 {
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 700;
    color: black;
    margin: 0;
}

a {
    text-decoration: none;
    overflow-wrap: break-word;
}

.d-none {
    display: none !important;
}

.visually-hidden {
    position: absolute;
    left: -9999px;
}

.dialog-open {
    overflow: hidden;
}

/**TODO - Am Ende anpassen */
.dialog-show {
    animation: slide-Dialog-in 1000ms ease-in-out forwards;
}

.dialog-hide {
    animation: slide-Dialog-out 1000ms ease-in-out forwards;
}


@keyframes slide-Dialog-in {
    from {
        transform: translateX(500%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slide-Dialog-out {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(500%);
    }
}