@media (max-width: 1290px) {
    .summary-content {
        padding-left: 2vw;
    }

    .summary-header {
        padding-left: 2vw;
    }
}

@media (max-width: 1180px) {
    .personal-greets {
        display: none;
    }

    .right-container {
        width: auto;
    }

    .summary-section {
        align-items: center;
    }

    .join-h1 {
        font-size: calc(61px * 0.9);
    }

    .summary-subtitle {
        font-size: calc(27px * 0.9);
    }
}

@media(max-width: 880px){
    .join-h1-mobile{
        padding-top: 32px;
    }

    .main-container{
        overflow-x: hidden;
    }


}


@media (max-width: 430px) {

    .summary-content-mobile{
        padding-left: 0;
    }


    .nav-mobile-btn {
        /* height: 67px;
        width: 74px; */
    }

    .summary-header-mobile {
        width: 100%;
        padding-left: 36px;
    }

    .summary-user-mobile {
        /* align-items: center;
        justify-content: center;
        width: auto;
        padding: 0; */
    }

    .task-actions-mobile {
        /* width: 100%;
        height: auto;
        justify-content: center;
        margin-bottom: 10px; */

        justify-content: center;
        gap: 28px;
    }

    .btn-task-mobile {
        padding: 19px 9px;
        width: 40%;
        /* max-height: 80px; */
        gap: 10px;

    }

    .btn-urgent-mobile {
        width: 91%;
        /* padding: 19px 9px;
        gap: 8px;
        margin-bottom: 0; */
        align-self: center;
    }

    .urgent-display {
       /*  gap: 13px; */
    }

    .urgent-separator-mobile {
        /* height: 50px; */
    }

    .urgent-time-underline-mobile {
        /* margin: 0; */
    }

    .summary-tasks-mobile {
        gap: 6px;
    }

    .btn-summary-tasks-mobile {
        padding: 22px 0px;
        /* max-height: 87px;
        width: 87px; */
        gap: 3px;
    }

    .quantity-task-mobile {
        /* font-size: calc(47px * 0.6); */
    }

    .number-of-Tasks-mobile {
        /* font-size: calc(47px * 0.6); */
    }

    .todo-icon-mobile,
    .done-icon-mobile,
    .urgent-icon-mobile {
        /* width: 30px;
        height: 30px; */
    }

    .quantity-container{
        /* gap: 5px; */
    }

    .greeting-mobile-name {
        /* font-size: 37px */
    }
}

@media (max-width: 350px) {
    .headline-add-contacts {
        white-space: normal;
    }

    
}