.right-content,
.summary-user-mobile,
.btn-task-mobile,
.btn-urgent-mobile,
.btn-summary-tasks-mobile,
.summary-header-mobile {
    transition: 
        all 0.3s ease,
        padding 0.3s ease,
        gap 0.1s ease,
        width 0.3s ease,
        font-size 0.25s ease;
}

@media (max-width: 1290px) {
    .summary-content {
        padding-left: 2vw;
    }

    .summary-header {
        padding-left: 2vw;
    }
}

@media (max-width: 1180px) {
    .personal-greets {
        display: none;
    }

    .right-container {
        width: auto;
    }

    .summary-section {
        align-items: center;
    }

    .join-h1 {
        font-size: calc(61px * 0.9);
    }

    .summary-subtitle {
        font-size: calc(27px * 0.9);
    }
}

@media(max-width: 880px) {
    .join-h1-mobile {
        padding-top: 32px;
    }

    .main-container {
        overflow-x: hidden;
    }

    .right-content {
        display: grid;
        place-items: center;
        min-height: calc(100vh - 80px - 76px);
        box-sizing: border-box;
        padding: 0 16px;
    }

}


@media (max-width: 430px) {

    .summary-content-mobile {
        padding-left: 0;
    }

    .task-actions-mobile {
        justify-content: center;
        gap: 28px;
    }

    .btn-task-mobile {
        padding: 19px 9px;
        width: 40%;
        gap: 10px;
    }

    .btn-urgent-mobile {
        width: 91%;
        align-self: center;
    }

    .summary-tasks-mobile {
        gap: 6px;
    }

    .btn-summary-tasks-mobile {
        gap: 3px;
    }

}

@media(max-width: 400px) {
    .btn-urgent-mobile {
        gap: 16px
    }

    .urgent-display {
        gap: 9px;
    }

    .number-of-Tasks-mobile {
        font-size: 41px;
    }

    .description-of-task-mobile {
        overflow-wrap: break-word;
    }

    .btn-summary-tasks-mobile {
        padding: 11px 11px
    }
}

@media(max-width: 370px) {

    .urgent-display {
        gap: 4px;
    }

    .quantity-task-mobile {
        font-size: 41px;
    }

    .quantity-container {
        gap: 5px;
    }

}

@media (max-width: 350px) {
    .headline-add-contacts {
        white-space: normal;
    }

    .btn-urgent-mobile {
        gap: 6px
    }

    .urgent-icon-mobile {
        width: 35px;
        height: 36px;
    }

}

@media(max-height: 750px) {
    .summary-user-mobile {
        gap: 7px;
    }

    .summary-header-mobile{
        margin-bottom: 16px;
    }

    .btn-urgent-mobile{
        margin-bottom: 8px;
    }

    .task-actions-mobile{
        margin-bottom: 8px;
    }
}