.summary-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: absolute;
    top: calc(206px - var(--header-height));
    left: calc(328px - var(--navbar-width));
    margin: 0;
}

.summary-title {
    margin: 0;
    font-size: 61px;
    font-weight: 700;
    font-family: 'Inter';
    font-style: bold;
}

.summary-subtitle {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 27px;
}

.summary-content {
    display: flex;
    flex-direction: row
}

.summary-user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 560px;
    height: 562px;
    position: absolute;
    /* background-color: black; */
    top: calc(335px - var(--header-height));
    left: calc(328px - var(--navbar-width));
}

.task-actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 560px;
    height: 168px;
}

.btn-task {
    display: flex;
    flex-direction: row;
    border: none;
    padding: 38px 19px 38px 19px;
    gap: 18px;

}

.btn-task {
    width: 264px;
    height: 168;
    left: 296px;
    opacity: 1;
    gap: 18px;
    padding: 38px 58px 38px 58px;
    border-radius: 30px;

}

.btn-task img {
    gap: 10px;
    height: 69px;
    width: 69px;

}

.quantity-task {
    font-size: 64px;
    font-weight: 600;
    font-family: 'Inter';
    font-style: Semi bold;
    margin: 0
}

.quantity-label-task {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter';
    font-style: regular;
    margin: 0;
}

.btn-urgent {
    display: flex;
    flex-direction: row;
    border: none;
    padding: 28px 48px 28px 48px;
    gap: 61px;
    width: 100%;

}

.btn-urgent {
    width: 560px;
    height: 168px;
    top: 196px;
    opacity: 1;
    gap: 61px;
    padding-top: 28px;
    padding-right: 48px;
    padding-bottom: 28px;
    padding-left: 48px;
    border-radius: 30px;

}

.urgent-date-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.urgent-display {
    width: 130px;
    height: 96px;
    opacity: 1;
    gap: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.urgent-display img {
    width: 60px;
    height: 60px;
}

.urgent-time {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 21px;
}

.urgent-time-underline {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;


}

.summary-tasks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.btn-tasks {
    border: none;
    width: 100%;
    padding: 25px 0;
}

.summary-tasks {}

.number-of-Tasks {
    font-family: Inter;
    font-weight: 600;
    font-size: 64px;
    text-align: center;
    margin: 0;
}

.description-of-task {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
}

.personal-greets {
    position: absolute;
    width: 385;
    height: 136px;
    top: calc(547.5px - var(--header-height));
    left: calc(968px - var(--navbar-width));
    opacity: 1;
    gap: 3px;
}

.headline-greet {
    margin: 0;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 47px;
    color: var(--bg-default);
}

.personal-greets-user {
    margin: 0;
    font-family: Inter;
    font-weight: 700;
    font-size: 64px;
    color: var(--btn-bg-hover);
}