.right-container {
    min-height: calc(100vh - 160px);
}

.summary-section-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary-header-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding-top: calc(104px - 80px);
    padding-left: 16px;
    width: 412px;
}

.summary-title-mobile {
    margin: 0;
    white-space: nowrap;
}


.summary-content-mobile {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-left: 16px;
}

.summary-user-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 396px;
    max-height: 562px;
    height: 100%;
    padding: 32px 0 0 0;
    border-radius: 16px;
}

.task-actions-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-bottom: 20px;
}

.btn-task-mobile {
    display: flex;
    flex-direction: row;
    border: none;
    padding: 38px 19px;
    gap: 10px;
    width: 186px;
    height: 110px;
    border-radius: 20px;
    background-color: white;
    align-items: center;
    justify-content: center;
    transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
}

.btn-task-mobile:hover {
    background-color: var(--bg-default);
}

.btn-task-mobile:active {
    background-color: var(--default-bg-color);
    box-shadow: 0px 4px 4px 0px var(--bg-shadow-btn-task);

}

.btn-task-mobile:hover .todo-icon-mobile {
    background-image: url('../assets/todo-icon-hover.svg');
}

.btn-task-mobile:active .todo-icon-mobile {
    background-image: url('../assets/todo-icon.svg');
}


.btn-task-mobile:hover .quantity-task-mobile {
    color: #FFFFFF;
}

.btn-task-mobile:active .quantity-task-mobile {
    color: inherit;
}

.btn-task-mobile:hover .quantity-label-task-mobile {
    color: #ffffff;
}

.todo-icon-mobile {
    width: 40px;
    height: 40px;
    background-image: url('../assets/todo-icon.svg');
    background-size: cover;
}

.done-icon-mobile {
    width: 40px;
    height: 40px;
    background-image: url('../assets/done-icon.svg');
    background-size: cover;
}

.btn-task-mobile:hover .done-icon-mobile {
    background-image: url('../assets/done-icon-hover.svg');
}

.btn-task-mobile:active .done-icon-mobile {
    background-image: url('../assets/done-icon.svg');
}

.quantity-task-mobile {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 47px;
    margin: 0;
}

.quantity-label-task-mobile {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    margin: 0;
}

.urgent-separator-mobile {
    width: 2px;
    height: 106px;
    background-color: var(--input-border-color);
}

.btn-urgent-mobile {
    display: flex;
    flex-direction: row;
    border: none;
    width: 100%;
    gap: 20px;
    margin-bottom: 20px;
    padding: 28px 0;
    border-radius: 20px;
    background-color: white;
    align-items: center;
    justify-content: center;
    transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
}

.btn-urgent-mobile:hover {
    background: var(--bg-default);
}

.btn-urgent-mobile:active {
    background: var(--default-bg-color);
    box-shadow: 0px 4px 4px 0px var(--bg-shadow-btn-task);
}

.btn-urgent-mobile:hover .quantity-task-mobile {
    color: #FFFFFF;
}

.btn-urgent-mobile:active .quantity-task-mobile {
    color: inherit;
}

.btn-urgent-mobile:hover .quantity-label-task-mobile {
    color: #FFFFFF;
}

.btn-urgent-mobile:active .quantity-label-task-mobile {
    color: inherit;
}

.urgent-icon-mobile {
    width: 40px;
    height: 40px;
    background-image: url('../assets/urgent-icon.svg');
    background-size: cover;
}




.urgent-time-mobile {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    letter-spacing: 0%;
    white-space: nowrap;
}

.btn-urgent-mobile:hover .urgent-time-mobile {
    color: #FFFFFF;
}

.btn-urgent-mobile:active .urgent-time-mobile {
    color: inherit;
}

.urgent-time-underline-mobile {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
}

.btn-urgent-mobile:hover .urgent-time-underline-mobile {
    color: #FFFFFF;
}

.btn-urgent-mobile:active .urgent-time-underline-mobile {
    color: inherit;
}

.summary-tasks-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 13px;
}

.btn-summary-tasks-mobile {
    border: none;
    width: 100%;
    height: 100%;
    max-height: 116px;
    padding: 25px 25px;
    gap: 13px;
    background-color: white;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
}

.btn-summary-tasks-mobile:hover {
    background: var(--bg-default);
}

.btn-summary-tasks-mobile:active {
    background: inherit;
    box-shadow: 0px 4px 4px 0px var(--bg-shadow-btn-task);
}

.btn-summary-tasks-mobile:hover .number-of-Tasks-mobile {
    color: #FFFFFF;
}

.btn-summary-tasks-mobile:active .number-of-Tasks-mobile {
    color: inherit;
}


.btn-summary-tasks-mobile:hover .description-of-task-mobile {
    color: #FFFFFF;
}

.btn-summary-tasks-mobile:active .description-of-task-mobile {
    color: inherit;
}

.number-of-Tasks-mobile {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 47px;
    margin: 0;
}

.description-of-task-mobile {
    margin: 0;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
}

.headings-separator-mobile {
    height: 3px;
    width: 90px;
    background-color: var(--btn-bg-hover);
}

.footer-mobile {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.greeting-mobile-container{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.greeting-mobile-timeofday{
    font-family: 'Inter';
    font-size: 36px;
    font-weight: 400;
    color: var(--bg-default);
    transform: translateY(-158%);
}

.greeting-mobile-name{
    font-family: 'Inter';
    font-size: 47px;
    font-weight: 700;
    color: var(--btn-bg-hover);
    transform: translateY(-130%);
}



@keyframes fadeBackgroundGreeting {

        0%,
        75% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            display: none;
        }
    }