.summary-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding-top: calc(202px - var(--header-height));
    padding-left: calc(328px - var(--navbar-width));
}

.summary-title {
    margin: 0;
    font-size: 61px;
    font-weight: 700;
    font-family: 'Inter';
}

.summary-subtitle {
    font-family: Inter;
    font-weight: 400;
    font-size: 27px;
    margin: 0;
}

.summary-content {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-left: calc(328px - var(--navbar-width));
}

.summary-user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 560px;
    max-height: 562px;
    height: 100%;
    padding: 32px 0 0 0;
    border-radius: 16px;
}

.task-actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 24px;
    margin-bottom: 24px;
}

.btn-task {
    display: flex;
    flex-direction: row;
    border: none;
    padding: 38px 58px;
    gap: 18px;
    width: 264px;
    height: 168px;
    border-radius: 30px;
    background-color: white;
    align-items: center;
    justify-content: center;
    transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
}

.btn-task:hover {
    background-color: var(--bg-default);
}

.btn-task:active {
    background-color: var(--default-bg-color);
    box-shadow: 0px 4px 4px 0px var(--bg-shadow-btn-task);

}

.btn-task:hover .todo-icon {
    background-image: url('../assets/todo-icon-hover.svg');
}

.btn-task:active .todo-icon {
    background-image: url('../assets/todo-icon.svg');
}


.btn-task:hover .quantity-task {
    color: #FFFFFF;
}

.btn-task:active .quantity-task {
    color: inherit;
}

.btn-task:hover .quantity-label-task {
    color: #ffffff;
}

.todo-icon {
    width: 69px;
    height: 69px;
    background-image: url('../assets/todo-icon.svg');
    background-size: cover;
}

.done-icon {
    width: 69px;
    height: 69px;
    background-image: url('../assets/done-icon.svg');
    background-size: cover;
}

.btn-task:hover .done-icon {
    background-image: url('../assets/done-icon-hover.svg');
}

.btn-task:active .done-icon {
    background-image: url('../assets/done-icon.svg');
}

.quantity-task {
    font-size: 64px;
    font-weight: 600;
    font-family: 'Inter';
    margin: 0;
}

.quantity-label-task {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter';
    margin: 0;
}

.btn-urgent {
    display: flex;
    flex-direction: row;
    border: none;
    width: 100%;
    gap: 61px;
    margin-bottom: 24px;
    padding: 28px 48px;
    border-radius: 30px;
    background-color: white;
    align-items: center;
    justify-content: center;
    transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
}

.btn-urgent:hover {
    background: var(--bg-default);
}

.btn-urgent:active {
    background: var(--default-bg-color);
    box-shadow: 0px 4px 4px 0px var(--bg-shadow-btn-task);
}

.btn-urgent:hover .quantity-task {
    color: #FFFFFF;
}

.btn-urgent:active .quantity-task {
    color: inherit;
}

.btn-urgent:hover .quantity-label-task {
    color: #FFFFFF;
}

.btn-urgent:active .quantity-label-task {
    color: inherit;
}

.urgent-icon {
    width: 60px;
    height: 60px;
    background-image: url('../assets/urgent-icon.svg');
    background-size: cover;
}

.urgent-date-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.urgent-display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}


.urgent-time {
    font-family: Inter;
    font-weight: 700;
    font-size: 21px;
    white-space: nowrap;
}

.btn-urgent:hover .urgent-time {
    color: #FFFFFF;
}

.btn-urgent:active .urgent-time {
    color: inherit;
}

.urgent-time-underline {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
}

.btn-urgent:hover .urgent-time-underline {
    color: #FFFFFF;
}

.btn-urgent:active .urgent-time-underline {
    color: inherit;
}

.summary-tasks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 24px;

}

.btn-summary-tasks {
    border: none;
    width: 100%;
    height: 100%;
    max-height: 168px;
    padding: 25px 0;
    gap: 13px;
    background-color: white;
    border: none;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
}

.btn-summary-tasks:hover {
    background: var(--bg-default);
}

.btn-summary-tasks:active {
    background: inherit;
    box-shadow: 0px 4px 4px 0px var(--bg-shadow-btn-task);
}

.btn-summary-tasks:hover .number-of-Tasks {
    color: #FFFFFF;
}

.btn-summary-tasks:active .number-of-Tasks {
    color: inherit;
}


.btn-summary-tasks:hover .description-of-task {
    color: #FFFFFF;
}

.btn-summary-tasks:active .description-of-task {
    color: inherit;
}

.number-of-Tasks {
    font-family: Inter;
    font-weight: 600;
    font-size: 64px;
    text-align: center;
    margin: 0;
}

.description-of-task {
    margin: 0;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
}

.personal-greets {
    width: 385px;
    min-height: 136px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

.headline-greet {
    margin: 0;
    font-family: Inter;
    font-weight: 500;
    font-size: 47px;
    color: var(--bg-default);
}

.personal-greets-user {
    margin: 0;
    font-family: Inter;
    font-weight: 700;
    font-size: 64px;
    color: var(--btn-bg-hover);
}