.detail-view-task-dialog {
    border: none;
}

.task-section {
    max-width: 525px;
    max-height: 931px;
    border-radius: 30px;
    padding-top: 48px;
    padding-right: 40px;
    padding-bottom: 48px;
    padding-left: 40px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--input-border-color);
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 164px;
    height: 36px;
    /* background-color: #0038FF; platzhalter da per classname zugewiesen*/
    border-radius: 8px;
    gap: 10px;

    p {
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 23px;
        color: white;
        margin: 0;
    }
}

.task-main {
    display: flex;
    flex-direction: column;
}

.task-title {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 61px;
    margin: 0;
}

.task-description {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
}

.task-details-table {
    display: flex;
    flex-direction: row;

    td {
        padding: 0 25px 25px 0;
    }
}

.task-due-date-section,
.task-priority-section {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    color: var(--bg-default);
}

.task-priority {
    display: flex;
    flex-direction: row;
}

.priority-indicator {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;

    p {
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 20px;
    }
}

.priority-icon-Low,
.priority-icon-Medium,
.priority-icon-Urgent {
    width: 17px;
    background-repeat: no-repeat;
    background-size: contain;
}

.priority-icon-Urgent {
    height: 12px;
    background-image: url('../assets/prio-alta-red.svg');

}

.priority-icon-Medium {
    height: 6.33px;
    background-image: url('../assets/prio-media-default.svg');
}

.priority-icon-Low {
    height: 12px;
    background-image: url('../assets/prio-baja-default.svg');
}

/*NOTE - Listenelemente*/

.assigned-contact-label {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    color: var(--bg-default);
    margin: 0;
    padding-bottom: 24px;
}

.assigned-contact {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 4px;
}

.assigned-contact-item {
    display: flex;
    align-items: center;
    padding: 7px 16px;
    gap: 16px;
}

.assigned-contact-item-active {
    display: flex;
    padding: 15px 24px;
    gap: 35px;
    background-color: var(--bg-default);
    border-radius: 10px;
}

.assigned-contact {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-item:hover {
    background-color: var(--bg-contact-item);
    border-radius: 10px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-name {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    vertical-align: middle;
    color: black;
}

.contact-initials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border: 2px solid (inherit);
    border-radius: 50%;
    gap: 10px;
}

.contact-initials-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    color: white;
}

.task-subtask {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    color: var(--bg-default);
}

.subtask-content {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-top: 6px;
    padding-right: 16px;
    padding-bottom: 6px;
    padding-left: 16px;
}

/* .checkbox-btn-default-hover:hover, */
.checkbox-btn-default {
    background-image: url("../assets/signup-confirm-default.svg");
}

.checkbox-btn {
    width: 16px;
    height: 16px;
    border: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    background-color: white;
}

/* .checkbox-btn-default:hover, */
.checkbox-btn-default-hover {
    background-image: url("../assets/signup-confirm-checked.svg");
}

.subtask-text {
    color: black;
}

/*NOTE - Btns */

.action-icons {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

/**FIXME - apply .action-icons  funktioniert nicht*/
.action-edit-icon {
    /* @apply .action-icons; */
    background-image: url(../assets/edit-contacts-icon.svg);
}

.action-delete-icon {
    /* @apply .action-icons; */
    background-image: url(../assets/delete-contacts-icon.svg);
}


.task-detailview-actions {
    display: flex;
    justify-content: end;
    gap: 24px;
    padding-top: 24px;
}

.btn-task-edit {
    width: 63px;
    height: 24px;
}

.btn-task-delete {
    width: 83px;
    height: 24px;
}

/*TODO - Btn sollten noch verschoben werden*/
.btn-task-action {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding-inline: 0;
    gap: 8px;

    p {
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        vertical-align: middle;
        margin: 0;
    }
}

.btn-task-action:hover p {
    color: var(--btn-bg-hover);
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    vertical-align: middle;
}

.btn-contact-action:hover .action-edit-icon {
    background-image: url(../assets/edit-contacts-icon-hover.svg);
}

.btn-contact-action:hover .action-delete-icon {
    background-image: url(../assets/delete-contacts-icon-hover.svg);
}

.vertical-seperator {
    width: 1px;
    height: 24px;
    background-color: var(--input-border-color);
}